*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    display: flex;
    align-items: center;
    margin-top: 31px;
    font-family: 'Roboto', sans-serif;
    -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
}

.form{
    width: 481px;
    height: 392px;
    background: #F7F5F9;
    border-radius: 12px;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.25);
}

.form__input,
.form__button{
    font-family: 'Roboto', sans-serif;

}

.form__title{
    color: #3B3D43;
    margin-top: 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    margin: 40px 0 25px 0;
    padding-left: 40px;
}

.form__field{
    position: relative;
    margin-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;

}

.form__input{
    background-color: #FFF;
    color: #D0C9D6;
    border-radius: 6px;
    height: 48px;
    width: 100%;
    font-size: 15px;
    border: 1px solid transparent;
    display: block;
    padding-left: 15px;
    line-height: 20px;
}

.form__error {
    color: red;
    font-size: 12px;
    text-align: left;
    display: block;
    display: none;
}

.form__input:hover,
.form__input:focus{
    border: 1px solid #854FC8;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

.form__input:valid:focus {
    border: 1px solid green;
}

.form__input:invalid:not(:placeholder-shown) {
     border: 1px solid red;
 }

.form__input:invalid:not(:placeholder-shown) +
.form__error {
     display:block;
}

.form__input::-webkit-input-placeholder {
    color: #D0C9D6;
}

.form__button {
     width: 100%;
     background: #6979F8;
     color: #FFF;
     font-size: 17px;
     line-height: 22px;
     border: none;
     border-radius: 6px;
     height: 48px;
}

.form__button:focus,
.form__button:hover {
    background-color: rgba(105, 121, 248, 0.8);
}

